.body {
    background-color: #faf0e6;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.filter {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #ffff;
    box-shadow: 0 8px 6px -6px black;

}

.searchBox {
    width: 400px;
}

.genderBox {
    width: 200px;
}

.saleBox {
    margin-left: 20px;
    margin-right: 20px;
}

.info {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.mainGrid {
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.image {
    width: 300px;
    height: 400px;
}

.paper {
    margin: 30px 30px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .image {
        width: 180px;
        height: 250px;
    }

    . paper {
        margin: 0 auto;
        width: 300px;
        height: 400px;
    }
    .filter{
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .searchBox {
        width: 200px;
    }

    .genderBox {
        width: 200px;
    }

    .filter {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
    }

    .saleBox {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .image {
        width: 150px;
        height: 200px;
    }

    . paper {
        margin: 20px 20px;
        width: 200px;
        height: 400px;
    }

}

@media only screen and (min-width: 768px) {
    .searchBox {
        width: 300px;
    }
    .paper{
        height: 600px;
    }
    .genderBox {
        width: 150px;
    }
}

